{% extends "layout.njk" %}
{% block content %}
    <section class="about">
        <img src="/images/perfil.jpg" alt="Foto Perfil">
        <h1>Rafael Prado</h1>
        <p>
            Sou um designer fascinado por novas formas de executar a criatividade.
        </p>
        <ul>
            <li>Designer</li>
            <li>Desenvolvedor</li>
            <li>Motion Designer</li>
        </ul>

        <div class="socialIcons">
            <a href="https://github.com/Rocketseat" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.facebook.com/rocketseat" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </section>
{% endblock %}